.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50500;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow-y: scroll;
    overflow: auto;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 5px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px;
        margin: 20px auto;
    }
}

.modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #fff;
    background-size: cover;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;
    outline: 0;
    background-color: #fff;
    box-shadow: 0px 0px 1000px rgb(51, 53, 53);
}

.modal-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px;
    background-color: #f6d595;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    overflow: auto;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 15px;
    display: flex;
    color: #000;
    text-indent: 30px;
    text-align: justify;
}


.book-bo {
    font-weight: 600;
    margin: 5px 0;
}